html {
box-sizing: border-box;
}
*,::after::before{
    box-sizing: inherit;
}

.body{
    font-family: 'Lato', sans-serif;
}
.backGroundImage{
   background-image: url("../images/background.jpg");
   resize: both;
   overflow:auto;
   background-repeat: repeat;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1000px;
    background-color:#eee;
    border-radius: 5px;
    color: #333;
}